{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose Firm
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        // evaluate random variable for determining whether player get firm A or B in choice mode 2
        var rval = Math.floor(Math.random() * 26)

        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
            if ({{ choice | json }} == 2) {
                update()
            }

        }

        // when the slider is updated, the new value is compared to the random variable
        // generated when the page loaded, and the value of the input firm is updated
        update = function() {
            disp = document.getElementById('value')
            slider = document.getElementById('slider')
            firm = document.getElementById('firm')
            disp.innerHTML = '$0.' + slider.value + (slider.value < 10 ? '0' : '')

            if(slider.value > rval) {
                firm.value = 'A'
            }
            else {
                firm.value = 'B'
            }
        }

    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <input type="hidden" name="time_ChooseFirm" id="arrive_time"/>
            <p>
                If you choose firm A, you and the other members of your group
                (your opponents) will be able to see each other's baseline scores. If you choose
                firm B, each of you will only be able to see your own baseline score.
            </p>
            {% if choice == 1 %}
                <p>
                    Choose your firm.
                </p>

                <input type="radio" name="firm" value="A">
                A <br>
                <input type="radio" name=firm" vlaue="B">
                B <br>
            {% elif choice == 2 %}
                <div>
                    How much would you be willing to pay to for Firm A?
                </div>
                <br>
                <div id="value">
                </div>
                <br>
                <input type="range" min="0" max="25" value="0"
                    id="slider" oninput="update()">
                <br>

                <input type="hidden" name="firm" id="firm">
                {{ form.firm.errors }}
            
            {% endif %}
            <br>
        </body>
    </html>

    {% next_button %}

{% endblock %}
